<h2 mat-dialog-title>Delete risk</h2>
<mat-dialog-content class="mat-typography">
  <p>Are you sure want to delete this risk?</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>No</button>
  <button mat-stroked-button color="primary" cdkFocusInitial (click)="deleteRisk()">Yes</button>
</mat-dialog-actions>
