<div class="container-xl">
  <p></p>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <h1 class="jumbotron-heading">Car</h1>
        </div>
        <div class="col-xl-6">
          <button class="float-right" mat-fab color="primary" aria-label="Add new car" (click)="addCar()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <hr class="my-4">

    <div class="car-container mat-elevation-z8">
      <div class="car-loading-shade"
           *ngIf="isLoadingResults || isRateLimitReached">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="car-rate-limit-reached" *ngIf="isRateLimitReached">
          Rate limit has been reached. Please try again later.
        </div>
      </div>

      <div class="car-table-container">
        <table mat-table [dataSource]="data" class="car-table"
               matSort matSortActive="name" matSortDisableClear matSortDirection="asc">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Id</th>
            <td mat-cell *matCellDef="let row" class="truncate-cell"> {{row.id}} </td>
          </ng-container>

          <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="created-date">Created date</th>
            <td mat-cell *matCellDef="let row" class="created-date">{{row.createdDate | date:'shortDate'}}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Name</th>
            <td mat-cell *matCellDef="let row" class="truncate-cell"> {{row.name}} </td>
          </ng-container>

          <ng-container matColumnDef="averagePurchasePrice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Purchase price</th>
            <td mat-cell *matCellDef="let row">{{row.averagePurchasePrice}}</td>
          </ng-container>

          <ng-container matColumnDef="riskCoefficient">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Risk coefficient</th>
            <td mat-cell *matCellDef="let row">{{row.riskCoefficient}}</td>
          </ng-container>

          <ng-container matColumnDef="isActive">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Active</th>
            <td mat-cell *matCellDef="let row">{{row.isActive}}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let row">
              <button *ngIf="row.isActive || (!row.isActive && 0 >= row.averagePurchasePrice)"
                      mat-icon-button color="primary" aria-label="Update car" (click)="updateCar(row)">
                <mat-icon>edit</mat-icon>
              </button>
              <button *ngIf="row.isActive" mat-icon-button color="warn" aria-label="Delete car" (click)="deleteCar(row)">
                <mat-icon>delete</mat-icon>
              </button>
              <button *ngIf="!row.isActive && 0 < row.averagePurchasePrice" mat-icon-button color="accent" aria-label="Restore car" (click)="restoreCar(row)">
                <mat-icon>restore</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

      <mat-paginator [length]="resultsLength" [pageSize]="displayPageSize" [hidePageSize]="true"
                     [showFirstLastButtons]="true" ></mat-paginator>
    </div>
  </div>
</div>
