<h2 mat-dialog-title>Restore car</h2>
<mat-dialog-content class="mat-typography">
  <p>Are you sure want to restore this car?</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>No</button>
  <button mat-stroked-button color="primary" cdkFocusInitial (click)="restoreCar()">Yes</button>
</mat-dialog-actions>
