button[matStepperPrevious] {
  margin-right: 10px;
}

.jumbotron {
  background-color: peachpuff;
}

.jumbotron-heading {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.error-message {
  margin-bottom: 20px;
  color: red;
}

.result-buttons{
  margin-top: 20px;
}

.fee {
  color: darkorange;
}
