<div class="container-xl">
  <p></p>
  <div class="jumbotron">
    <h1 class="jumbotron-heading">Welcome to Casco Insurance!</h1>
    <p class="lead">Less exceptions, more protection</p>
    <hr class="my-4">

    <div *ngIf="showCalculator">
      <h2>Please fill in the form below to calculate the insurance fee</h2>
      <mat-vertical-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="vehicleProducerGroup" [editable]="isStepEditable">
          <form [formGroup]="vehicleProducerGroup">
            <ng-template matStepLabel>Choose your vehicle producer</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Please select</mat-label>
              <mat-select matInput formControlName="vpCtrl" required>
                <mat-option [disabled]=""></mat-option>
                <mat-option *ngFor="let vp of vehicleProducers" [value]=vp.id>
                  {{ vp.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <button mat-stroked-button color="primary" matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="plateNumberGroup" [editable]="isStepEditable">
          <form [formGroup]="plateNumberGroup">
            <ng-template matStepLabel>Fill out plate number</ng-template>
            <mat-form-field>
              <mat-label>Plate Number</mat-label>
              <input matInput formControlName="pnCtrl" placeholder="123XXX" required
                     onkeyup="this.value = this.value.toUpperCase();">
            </mat-form-field>
            <div>
              <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
              <button mat-stroked-button color="primary" matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="regYearGroup" [editable]="isStepEditable">
          <form [formGroup]="regYearGroup">
            <ng-template matStepLabel>Fill out first year of registration</ng-template>
            <mat-form-field>
              <mat-label>Registration year</mat-label>
              <input type="number" matInput formControlName="yearCtrl" pattern="^[0-9]*$" required>
            </mat-form-field>
            <div>
              <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
              <button mat-stroked-button color="primary" matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="purchasePriceGroup" [editable]="isStepEditable">
          <form [formGroup]="purchasePriceGroup">
            <ng-template matStepLabel>Fill out purchase price</ng-template>
            <mat-form-field>
              <mat-label>Purchase price</mat-label>
              <input type="number" pattern="^\d+(\.\d+)*$" matInput formControlName="priceCtrl" required>
            </mat-form-field>
            <div>
              <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
              <button mat-stroked-button color="primary" matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="mileageGroup" [editable]="isStepEditable">
          <form [formGroup]="mileageGroup">
            <ng-template matStepLabel>Fill out mileage</ng-template>
            <mat-form-field>
              <mat-label>Mileage</mat-label>
              <input type="number" matInput formControlName="mileageCtrl" required>
            </mat-form-field>
            <div>
              <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
              <button mat-stroked-button color="primary" matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="previousIndemnityGroup" [editable]="isStepEditable">
          <form [formGroup]="previousIndemnityGroup">
            <ng-template matStepLabel>Fill out previous indemnity cost</ng-template>
            <mat-form-field>
              <mat-label>Previous indemnity</mat-label>
              <input type="number" matInput formControlName="piCtrl" required (keyup)="previousIndemnityCheck()">
            </mat-form-field>
            <div>
              <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
              <button mat-stroked-button color="primary" matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="otherOptionsGroup" [editable]="isStepEditable">
          <form [formGroup]="otherOptionsGroup">
            <ng-template matStepLabel>Choose other options, if needed</ng-template>
            <mat-slide-toggle color="primary" formControlName="calMonthlyFee">Show monthly fee</mat-slide-toggle>
            <br/>
            <mat-slide-toggle *ngIf="showPreviousIndemnity" color="primary" formControlName="addPreviousIndemnity">
              Add previous indemnity in calculation
            </mat-slide-toggle>

            <div class="result-buttons">
              <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
              <button mat-stroked-button color="primary" matStepperNext (click)="calculate()">Submit</button>
            </div>
          </form>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Offer</ng-template>
          <div *ngIf="showSpinner">
            <p>Calculating fee...</p>
            <mat-spinner></mat-spinner>
          </div>
          <div *ngIf="isFeeCalculated">
            <h2><b>Offer details</b></h2>
            <p><b>Id:</b> {{ insuranceFee.id }}</p>
            <p><b>Producer:</b> {{ insuranceFee.vehicleProducer }}</p>
            <p><b>Registration year:</b> {{ insuranceFee.firstRegistrationYear }}</p>
            <p><b>Mileage:</b> {{ insuranceFee.mileage }}</p>
            <p><b>Previous indemnity:</b> {{ insuranceFee.previousIndemnity }}</p>
            <h3 class="fee"><b>Annual fee:</b> {{ insuranceFee.annualFee }} EUR</h3>
            <h3 class="fee" *ngIf="showMonthlyFee"><b>Monthly fee:</b> {{ insuranceFee.monthlyFee }} EUR</h3>

            <h2><b>Risks</b></h2>
            <p>Highlighted risks below are involved in fee calculation.</p>
            <mat-chip-list aria-label="Risk">
              <mat-chip *ngFor="let risk of insuranceFee.risks" [selected]="risk.countedForCalculation" color="primary">
                {{ risk.name }}
              </mat-chip>
            </mat-chip-list>

            <div class="result-buttons">
              <button mat-stroked-button color="primary" (click)="stepper.reset(); resetResult();">Start over</button>
            </div>
          </div>
          <div *ngIf="hasError">
            <p class="error-message">Cannot calculate fee! Server error, please try again later.</p>
            <p class="error-message" *ngIf="errorMessage.length > 0"><b>Errors: </b><br> {{ errorMessage }}</p>

            <div class="result-buttons">
              <button mat-stroked-button color="primary" (click)="stepper.reset(); resetResult();">Reset</button>
            </div>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </div>

    <div *ngIf="!showCalculator">
      <p class="error-message">Calculator unavailable now! Please try again later.</p>
    </div>
  </div>
</div>



