<h1 mat-dialog-title>Add new risk</h1>
<div mat-dialog-content>
  <mat-vertical-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="nameGroup" [editable]="isStepEditable">
      <form [formGroup]="nameGroup">
        <ng-template matStepLabel>Parameter</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Parameter</mat-label>
          <input type="text" matInput formControlName="nameCtrl" required readonly>
        </mat-form-field>
        <div>
          <button mat-stroked-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="valueGroup" [editable]="isStepEditable">
      <form [formGroup]="valueGroup">
        <ng-template matStepLabel>Fill out risk coefficient</ng-template>
        <mat-form-field>
          <mat-label>Risk Coefficient</mat-label>
          <input type="number" matInput formControlName="valueCtrl">
        </mat-form-field>
        <div>
          <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
          <button mat-stroked-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="activeGroup" [editable]="isStepEditable">
      <form [formGroup]="activeGroup">
        <ng-template matStepLabel>Choose whether to include this risk in fee calculation</ng-template>
        <mat-slide-toggle color="primary" formControlName="activeCtrl">Add to calculation</mat-slide-toggle>
        <br/>
        <div class="result-buttons">
          <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
          <button mat-stroked-button color="primary" matStepperNext (click)="updateRisk()">Submit</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Result</ng-template>
      <div *ngIf="showSpinner">
        <p>Updating risk...</p>
        <mat-spinner></mat-spinner>
      </div>
      <div *ngIf="hasError">
        <p class="error-message">Cannot update risk! Server error, please try again later.</p>
        <p class="error-message" *ngIf="errorMessage.length > 0"><b>Errors: </b><br> {{ errorMessage }}</p>

        <div class="result-buttons">
          <button mat-stroked-button color="primary" (click)="stepper.reset(); resetResult();">Reset</button>
        </div>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="primary" *ngIf="isStepEditable" (click)="onNoClick()">Cancel</button>
</div>
