<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black">
  <div class="container-xl">
    <a class="navbar-brand" routerLink="">
      <img src="../assets/Swedbank_logo.png" width="213" height="45" alt="" loading="lazy">
    </a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item nav-buttons" [routerLinkActive]="['active']">
        <a class="nav-link mat-body-2" routerLink="/vehicles">Vehicles</a>
      </li>
      <li class="nav-item nav-buttons" [routerLinkActive]="['active']">
        <a class="nav-link mat-body-2" routerLink="/cars">Cars</a>
      </li>
      <li class="nav-item nav-buttons" [routerLinkActive]="['active']">
        <a class="nav-link mat-body-2" routerLink="/risks">Risks</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: darkorange">
  <div class="container-xl">
  </div>
</nav>
