.vehicle-container {
  position: relative;
  min-height: 200px;
}

.vehicle-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.vehicle-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vehicle-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.jumbotron-heading {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

th[mat-header-cell] {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: darkorange;
}

.truncate-cell {
  max-width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.plate-number {
  padding-left: 10px;
}

.created-date {
  padding-left: 20px;
}

.monthly-fee {
  margin-bottom: 20px;
}
