<div class="container-xl">
  <p></p>
  <div class="jumbotron">
    <h1 class="jumbotron-heading">Vehicle list</h1>
    <hr class="my-4">
    <mat-slide-toggle color="primary" class="monthly-fee" (change)="onToggle($event)"><b>Show monthly fee</b></mat-slide-toggle>

    <div class="vehicle-container mat-elevation-z8">
      <div class="vehicle-loading-shade"
           *ngIf="isLoadingResults || isRateLimitReached">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="vehicle-rate-limit-reached" *ngIf="isRateLimitReached">
          Rate limit has been reached. Please try again later.
        </div>
      </div>

      <div class="vehicle-table-container">
        <table mat-table [dataSource]="data" class="vehicle-table"
               matSort matSortActive="vehicle.createdDate" matSortDisableClear matSortDirection="desc">
          <ng-container matColumnDef="vehicle.id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Id</th>
            <td mat-cell *matCellDef="let row" class="truncate-cell"> {{row.id}} </td>
          </ng-container>

          <ng-container matColumnDef="vehicle.createdDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="created-date">Created on</th>
            <td mat-cell *matCellDef="let row" class="created-date">{{row.createdOn | date:'shortDate'}}</td>
          </ng-container>

          <ng-container matColumnDef="vehicle.plateNumber">
            <th mat-header-cell *matHeaderCellDef class="plate-number" mat-sort-header disableClear>Plate number</th>
            <td mat-cell *matCellDef="let row" class="plate-number">{{row.plateNumber}}</td>
          </ng-container>

          <ng-container matColumnDef="vehicle.firstRegistrationYear">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Year</th>
            <td mat-cell *matCellDef="let row">{{row.firstRegistrationYear}}</td>
          </ng-container>

          <ng-container matColumnDef="vehicle.vehicleProducer">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Producer</th>
            <td mat-cell *matCellDef="let row">{{row.vehicleProducer}}</td>
          </ng-container>

          <ng-container matColumnDef="vehicle.purchasePrice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Purchase price</th>
            <td mat-cell *matCellDef="let row">{{row.purchasePrice}}</td>
          </ng-container>

          <ng-container matColumnDef="vehicle.mileage">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Mileage</th>
            <td mat-cell *matCellDef="let row">{{row.mileage}}</td>
          </ng-container>

          <ng-container matColumnDef="vehicle.previousIndemnity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Previous Indemnity</th>
            <td mat-cell *matCellDef="let row">{{row.previousIndemnity}}</td>
          </ng-container>

          <ng-container matColumnDef="annualFee">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Annual fee</th>
            <td mat-cell *matCellDef="let row">{{row.annualFee}}</td>
          </ng-container>

          <ng-container matColumnDef="monthlyFee" *ngIf="isMonthlyFeeVisible">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Monthly fee</th>
            <td mat-cell *matCellDef="let row">{{row.monthlyFee}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

      <mat-paginator [length]="resultsLength" [pageSize]="displayPageSize" [hidePageSize]="true"
                     [showFirstLastButtons]="true" ></mat-paginator>
    </div>
  </div>
</div>
