<h1 mat-dialog-title>Update car</h1>
<div mat-dialog-content>
  <mat-vertical-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="vehicleProducerGroup" [editable]="isStepEditable">
      <form [formGroup]="vehicleProducerGroup">
        <ng-template matStepLabel>Fill out car producer</ng-template>
        <mat-form-field>
          <mat-label>Car producer</mat-label>
          <input type="text" matInput formControlName="vpCtrl" required readonly>
        </mat-form-field>
        <div>
          <button mat-stroked-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="purchasePriceGroup" [editable]="isStepEditable">
      <form [formGroup]="purchasePriceGroup">
        <ng-template matStepLabel>Fill out average purchase price</ng-template>
        <mat-form-field>
          <mat-label>Purchase price</mat-label>
          <input type="number" pattern="^\d+(\.\d+)*$" matInput formControlName="priceCtrl" required>
        </mat-form-field>
        <div>
          <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
          <button mat-stroked-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="riskCoefficientGroup" [editable]="isStepEditable">
      <form [formGroup]="riskCoefficientGroup">
        <ng-template matStepLabel>Fill out risk coefficient</ng-template>
        <mat-form-field>
          <mat-label>Risk Coefficient</mat-label>
          <input type="number" matInput formControlName="rcCtrl">
        </mat-form-field>
        <div>
          <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
          <button mat-stroked-button color="primary" matStepperNext (click)="updateCar()">Submit</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Result</ng-template>
      <div *ngIf="showSpinner">
        <p>Updating car...</p>
        <mat-spinner></mat-spinner>
      </div>
      <div *ngIf="hasError">
        <p class="error-message">Cannot update car! Server error, please try again later.</p>
        <p class="error-message" *ngIf="errorMessage.length > 0"><b>Errors: </b><br> {{ errorMessage }}</p>

        <div class="result-buttons">
          <button mat-stroked-button color="primary" (click)="stepper.reset(); resetResult();">Reset</button>
        </div>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="primary" *ngIf="isStepEditable" (click)="onNoClick()">Cancel</button>
</div>
